/* Center divs */
.center {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

/* Input */
.form-control[type="text"] {
    margin: auto;
    width: 50%;
    font-size: 24px;
}

/* Size of block displaying informations */
.firstname-constant {
    height: 13em;
}

/* Size of information's text */
.firstname-constant p {
    font-size: 60px;
}

/* Letter of the first name inline */
.firstname-constant-string p {
    display: inline;
}

/* Drop the size of the text when screen is small */
@media only screen and (max-width : 850px) {
    .firstname-constant {
        height: 7em;
    }

    .firstname-constant p {
        font-size: 28px;
    }

    span {
        transform: translate(-50%, 80%) !important;
        font-size: 30px !important;
    }
}

/* Info card */
span {
    transform: translate(-50%, 95%);
    font-size: 50px;
    border: 2px;
    border-style: groove;
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
}
